.sort {
  display: flex;
  align-items: center;
  height: 5rem;
  a {
    margin-left: 1rem;
  }
}

.all {
  .holder {
    &-left {
      flex-grow: 1;
      word-break: break-word;
    }
    &-right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  &-item {
    display: flex;
    background-color: #fff;
    margin-bottom: 1rem;
    padding: 2rem 1rem 1rem 1rem;
    position: relative;
    transition: transform 0.3s ease-in-out;
    &:hover {
      transform: translateX(-0.5rem);
    }
    h4 {
      font-weight: bold;
    }
  }

  .button {
    text-align: center;
    display: inline-block;
    background-color: #00547c;
    font-family: 'Playfair Display', serif;
    color: #fff;
    padding: 0.4rem 1rem;
    font-size: 1.1rem;
    cursor: pointer;
    width: 100%;
    text-decoration: none;
    margin-bottom: 0.7rem;
    &:last-of-type {
      margin: 0;
    }
    &:hover {
      background-color: $black;
    }
  }

  span {
    background: $mainColor;
    color: #fff;
    padding: 0.1rem 0.3rem;
  }

  .vote {
    background-color: black;
    &:hover {
      background-color: $mainColor;
    }
  }

  .tooltip {
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    padding: 0.1rem 0.3rem;
    background-color: black;
    display: inline-block;
    color: #fff;
    position: absolute;
    top: -0.5rem;
    left: -0.5rem;
  }
}
