header {
  top: 2rem;
  right: 2rem;
  position: absolute;
  #new-poll {
    background-color: $black;
    border-radius: 20rem;
    padding: 0.4rem 1rem;
    color: #fff;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    margin-right: 1rem;
    cursor: pointer;
    &:hover {
      background-color: $mainColor;
    }
  }
}
