<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta charset="utf-8">
    <title>Maak een poll</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css" />
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    <header>
        <a id="new-poll" href="../">Nieuwe poll</a>
        <a id="all" href="../all">Bekijk alle</a>
    </header>

    <div class="container">
        {{{body}}}
    </div>
</body>
<script src="./js/global.js"></script>

</html>